html { font-size: calc(0.5em + 1vw); }

nav .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

nav .navbar .content {
    display: none;
}

nav a {
    padding: 10px 20px;
    border-left: none;
}

nav a:last-child {
    border-right: none;
}

nav a:nth-child(2) {
    border-right: none;
}

.certificate .section .spec img {
    border-left: none;
}

.certificate .section {
    border-bottom: solid;
    border-width: 2px;
    border-color: #d6c08d;
}

.certificate .section:last-child {
    border-bottom: none;
}

.certificate .upper {
    border-top: none;
}

.certificate .section .spec img {
    padding-left: 0px;
}

.job-info .section i {
    font-size: 10vw;
}